* {
    background: #E5E5E5;
    font-family: "Inter" sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

main {
    display: flex;
}

#logo-alura{
    position: absolute;
    top: 27.5px;
    left: 54.8px;
}

.input-text1 {
    position: absolute;
    width: 376.6px;
    height: 300px;
    left: 156.7px;
    top: 115.6px;
    color: #0A3871;
}

.input-text2 {
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    position: absolute;
    left: 652.7px;
    top: 27.5px;
    width: 261.1px;
    height: 650px;
    color: #0A3871;
}